html,
body {
  height: 100%;
}
*:focus {
  outline: none;
}

.wrapper {
  background: #ececec;
  height: 100%;
}

.wrapper .card {
  width: 70%;
  height: 100%;
  margin: 0 auto;
  display: block;
  background: #fcfbf6;
  border: 1px solid #ffeeba;
  box-shadow: 0px 0px 13px -5px #fff3cd;
}

.wrapper .card h1 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  padding: 10px 20px;
  background: #fff3cd;
  color: #856404;
  border-bottom: 1px solid #856404;
}

.wrapper .card .error {
  color: #721c24;
  background: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 10px 20px;
}

.wrapper .card form {
  padding: 20px;
  border-bottom: 1px solid #ffc50e;
}

.wrapper .card form label {
  color: #5c4604;
  width: 25%;
  display: inline-block;
  vertical-align: top;
}

.wrapper form .fieldSeparator {
  margin-bottom: 15px;
}

.wrapper .card form input,
.wrapper .card form textarea {
  padding: 5px 10px;
  color: #5c4604;
  border: 1px solid #ffeeba;
}

.wrapper .card form input {
  width: 65%;
}

.wrapper .card form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
  outline: 1px solid #ffeeba;
}

.wrapper .card form input[type="submit"] {
  margin: 20px auto;
  display: block;
  width: 25%;
}

.wrapper .card form input[type="submit"]:hover {
  background: #fff3cd;
  color: #856404;
  cursor: pointer;
}

.wrapper .card form textarea {
  resize: none;
  width: 65%;
}

.wrapper .card form p {
  color: #5c4604;
  display: inline;
  padding-right: 17%;
}

.wrapper .taskList {
  padding: 20px;
}

.wrapper .taskList ul {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 25%;
}
.wrapper .taskList ul li:nth-child(1) {
  background: #fff3cd;
  color: #856404;
  /*padding: 0 30px;*/
}
.wrapper .taskList ul li {
  list-style-type: none;
  color: #5c4604;
  font-size: 1rem;
  padding: 10px 0;
  text-align: center;
}